body {
  font-family: 'Alegreya', Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background-color: #ffffff;
	background-position: center top;

  margin: auto;
  width: 100%;
  height: 100%;
}
  /*header starts here*/ 
h1, h2 {
  margin-left: .75em;
}
p {
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: justify;
    margin-left: 1em;
    margin-right: 1em;
   }
header {
    background-image: url("images/DesLegumes/atmospheric-background-beautiful-531872.jpg");
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;

  }

  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 8px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    border-right: 1px solid #4CAF50;
    border-width: 5px;
    background-color: hsl(14, 100%, 53%);
    overflow: hidden;
  }
  
  .topnav a:hover {
    background-color: #4CAF50;
    color: black;
  }
  


  
   /*header ends here*/ 

  /*main starts here*/ 

main {
  width: 1280px;
  margin: 0px;
  background-color: #f2f2f2;
  border-width: 5px;
  border-color: beige;
  padding:0 0px;
  display: block;
  padding:auto;
  margin:auto;
  left: 5;
  }
  * {
    box-sizing: border-box;
  }
  
  .column_img {
    float: left;
    width: 20%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */


  .center { 
    margin: 0 auto; 
    width: 650px; 
  }


hr {
  border-bottom: 25px solid #fff;
  border-radius: 25px;
}


  /*main ends here*/ 
   /*Footer starts here*/

footer {
  background-image: url("images/DesLegumes/astro-astronomy-background.jpg");
  font-size: .7em;
  left: auto;
  height: 520px;
  margin: auto;
  text-align: justify;
  color: white;
  /* color: greenyellow; */
  }

  time{
    font-size: 20px;
  } 
  .row_img::after {
    content: "";
    clear: both;
    display: table;
    
  }
  .column_footer_1 {
    float: left;
    width: 75%;
    padding: 5px;
    padding-left: 150px;
  }
  .column_footer_2 {
    float: left;
    width: 25%;
    padding: 5px;
    padding-left: 10px;
  }

  /* Clearfix (clear floats) */
  .row_footer::after {
    content: "";
    clear: both;
    display: table;
  }
  /* copyright lower black strech 100%*/
.copyright {
    bottom: 0;
    height:60px;
    background-color:black ;
    position: relative;
    width: 100%;
    color:whitesmoke; 
    font-size: 16px; 
    display: flex;
    justify-content: center;
    padding-top: 15px;
} 

/*Floating Back-To-Top Button*/
#myBtn {
  position: fixed;
  bottom: 100px;
  float: right;
  right: 5%;
  left: 95%;
  max-width: 60px;
  width: 100%;
  font-size: 16px;
  border-color: rgb(255, 20, 147);
  background-color: rgb(255, 71, 20);
  padding: .5px;
  border-radius: 4px;

}
/*On Hover Color Change*/
#myBtn:hover {
  background-color: #7dbbf1;
}




/* .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
} */

.socialMedia:hover .image {
  opacity: 0.5;
}

/* .socialMedia:hover .middle {
  opacity: 1;
} */

/* .text {
  background-color: #4CAF50;
  color: white;
  font-size: 12px;
  padding: 16px 32px;
} */





        /* The @media screen is not yet clear for me and I need to learn* */
        
        /* @media screen and (max-width: 900px) {
          .topnav a:not(:first-child) {display: none;}
          .topnav a.icon {
            float: right;
            display: block;
          }
        }
        
        @media screen and (max-width: 400px) {
          .topnav.responsive {position: relative;}
          .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
          }
      
        }  */